.search-history-view-ui .lotusui30 .icSearchPaneButton {
    background-color: #3e9ad5;
    outline: #9a9a9a solid 1px;
}

.ics-scbanner .navmenu.rd .navsimplelist > li a.selected {
    border-left: 4px solid #3e9ad5;
    padding-left: 8px;
}

.ics-scbanner {
    background-color: #3e9ad5 !important;
}

.lotusui30 {
    background: url("http://jleon.mybluemix.net/apps/customizer/img/efectivosi/Sinapsis.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center top;
}


/* Oculta el menú "Efectivo Si" */
.ics-scbanner .org {    
    display: none;
}
/* Oculta el menú "Reuniones" */
.ics-scbanner .stmeetingshost {    
    display: none;
}
/* Oculta el menú "Albergar una reunión" */
.ics-scbanner .stmeetings {
    display: none;
}

/* Cambia el color de una barra dentro de la página inicio
.lotusui30 .lotusStream #activityStreamMain.lotusWidgetBody .streamHeaderWrapper .lotusPaging {
    background: #3e9ad5;
    border: 0;
    border-radius: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

/* En la página de Inicio Oculta el Widget de Reuniones */
div#e4b6e1b6-34e8-4753-acfc-a19a930e1dc5_container {
    display: none;
}

/* En la página de Inicio Oculta el Widget de Sucesos */
div#1cd9c1b3-698e-437e-9f54-d19ddb365619_container {
    display: none;
}








